.App {
  display: grid;
  grid-template-columns: auto 1fr;
}

.sidePanel {
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  height: 95vh;
  margin: 0.25rem;
  position: sticky;
  top: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000000, -2px -2px #000;
}

.clearButton {
  font-size: 1.5rem;
  margin: 1.75rem 0;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  transition: 0.3s ease;
}

.clearButton:hover {
  background: #ff0000;
  color: #fff;
}

.clearButton:active {
  letter-spacing: 2px;
  transform: translateY(12px);
}

.voteIcon {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.yes,
.no {
  padding: 0 0.5rem;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.yes:hover {
  color: #008000;
  letter-spacing: 2px;
  background-color: #ffffff;
}

.no:hover {
  color: #ff0000;
  letter-spacing: 2px;
  background-color: #ffffff;
}

.wordList {
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.enLtWord {
  margin: 0.25rem 1rem 1rem;
  border: 1px solid;
  border-radius: 0.35rem;
  background: rgba(96, 138, 97, 0.8);
}

p {
  margin: 0.25rem;
  border: 1px solid #949494;
  text-align: center;
  box-shadow: 0px 0px 7px #fff;
  background: rgba(60, 102, 138, 0.8);
}

.likeIcon {
  background: #4ec124;
}

.disLikeIcon {
  background: #9b1919;
}

.score {
  display: flex;
  justify-content: center;
}